body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
input{
    background-color: seashell;
    font-weight: bold;
    border-radius:  5px;
    border: 2px solid skyblue;
    padding: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 2em;
}
button{
    background-color: skyblue;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid cyan;
    padding: 0.5em;
}
